body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
}

canvas {
    background: black;
    border: 3px solid white;
    margin-top: 10px;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
